* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.06em;
  text-rendering: optimizeLegibility;
}


::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}


.serif {
  font-family: "Libre Baskerville";
  letter-spacing: -0.05em;
  font-style: italic;
  text-transform: none;
}

html,
body {
  font-size: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  perspective: 1000;
}

a {
  text-decoration: none;
  color: inherit;
}
