

.container {
  height: 100vh;
  transition: all 2s ease-in-out;
  opacity: 1;
  font-size: 100%;

  em,
  i {
    font-family: var(--italic);
    letter-spacing: -0.05em;
    font-style: italic;
    text-transform: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }



  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  div,
  a {
    font-family: var(--sans);
    font-weight: 400;
    letter-spacing: -0.035em;
  }
}

.container .hide {
  opacity: 0;
  pointer-events: none;
}

.content {
  padding-left: 20px;
  padding-right: clamp(56px, calc(3.5rem + ((1vw - 3.75px) * 30.9859)), 700px);
}

@media only screen and (min-width: 768px) {
  .content {
    padding-left: 180px;
  }
}

.loader {
  transition: all 2s ease-in-out;
  opacity: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 3.5rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader-name {
  font-size: clamp(14px, calc(0.875rem + ((1vw - 3.75px) * 0.3756)), 18px);
  text-transform: uppercase;
}

#timer {
  font-size: 5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  animation: fadein 1s ease-in-out;
}
